body {
	background: linear-gradient(-45deg, #edeee9, #d8d8d8,  #ffce43, #f9a106);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App{
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .book {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
  }

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: #f9a106;
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}

.update a{
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: #ffce43;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.buttonAdd {
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 100px;
  }
  
  .buttonAdd a {
    text-decoration: none;
    color: inherit;
  }
  
  .buttonAdd:hover {
    background-color: red;
  }
  